<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<%= @options.charset %>">
    <title><%= page_title klass.full_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= include_template '_head.rhtml', {:context => klass, :tree_keys => klass.full_name.split('::') } %>

    <meta property="og:title" value="<%= og_title klass.full_name %>">
</head>

<body>
    <a class="sr-only sr-only-focusable" href="#context" data-turbo="false">Skip to Content</a>
    <a class="sr-only sr-only-focusable" href="#search" data-turbo="false">Skip to Search</a>

    <%= include_template '_panel.rhtml' %>

    <main id="content">
        <hgroup class="content__title">
          <h1><span class="kind"><%= klass.type %></span> <%= module_breadcrumbs klass %></h1>
        </hgroup>

        <%= include_template '_context.rhtml', {:context => klass} %>

        <div class="content__divider">Definition files</div>
        <%= more_less_ul klass.in_files.map { |file| link_to file }, 5..9 %>
    </main>
  </body>
</html>
