<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<%= @options.charset %>">
    <title><%= page_title klass.full_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= include_template '_head.rhtml', {:context => klass, :tree_keys => klass.full_name.split('::') } %>

    <meta property="og:title" value="<%= og_title klass.full_name %>">

  <% unless (description = klass.description).empty? %>
    <% human_desc = truncate(strip_tags(description.gsub("\n", " ").strip)) %>
    <meta name="description" content="<%= human_desc %>">
    <meta property="og:description" content="<%= human_desc %>">
  <% end %>

    <meta name="keywords" content="<%= klass.full_name %> class, <%= klass.method_list.map(&:name).join(", ") %>">
</head>

<body>
    <a class="sr-only sr-only-focusable" href="#content" data-turbo="false">Skip to Content</a>
    <a class="sr-only sr-only-focusable" href="#search" data-turbo="false">Skip to Search</a>

    <%= include_template '_panel.rhtml' %>

    <div class="banner">
        <% if project_name %>
            <div><%= project_name %> <%= project_version %></div>
        <% end %>

        <h2>
            <span class="type"><%= klass.module? ? 'Module' : 'Class' %></span>
            <%= h klass.full_name %>
            <% if klass.type == "class" && klass.superclass %>
                <span class="parent">&lt;
                    <% if klass.superclass.is_a?(String) %>
                    <%= klass.superclass %>
                    <% else %>
                    <%= link_to klass.superclass.full_name, klass.superclass %>
                    <% end %>
                </span>
            <% end %>
        </h2>

        <% if badge_version %>
            <div id="version-badge"><%= badge_version %></div>
        <% end %>
    </div>

    <main id="bodyContent">
        <%= include_template '_context.rhtml', {:context => klass} %>
    </main>

    <footer>
        <div id="footerContent">
            <details>
                <summary class="sectiontitle">Appears in</summary>
                <ul class="files">
                    <% klass.in_files.each do |file| %>
                    <li><%= link_to file.absolute_name, file %></li>
                    <% end %>
                </ul>
            </details>
        </div>
    </footer>
  </body>
</html>
