<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<%= @options.charset %>">
    <title><%= page_title klass.full_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= include_template '_head.rhtml', {:context => klass, :tree_keys => klass.full_name.split('::') } %>

    <meta property="og:title" value="<%= og_title klass.full_name %>">
    <% if description = page_description(klass.description) %>
    <meta name="description" property="og:description" content="<%= description %>">
    <% end %>
</head>

<body>
    <a class="sr-only sr-only-focusable" href="#content" data-turbo="false">Skip to Content</a>
    <a class="sr-only sr-only-focusable" href="#search" data-turbo="false">Skip to Search</a>

    <%= include_template '_panel.rhtml' %>

    <div class="banner">
        <% if project_name %>
            <div>
                <%= project_name %>
                <span title="<%= project_git_head %>"><%= project_version %></span>
            </div>
        <% end %>

        <h2>
            <span class="type"><%= klass.module? ? 'Module' : 'Class' %></span>
            <%= full_name klass %>
            <% if klass.type == "class" && superclass = klass.superclass %>
                <span class="parent">
                    &lt; <%= superclass.is_a?(String) ? full_name(superclass) : link_to(superclass) %>
                </span>
            <% end %>
        </h2>
    </div>

    <main id="bodyContent">
        <%= include_template '_context.rhtml', {:context => klass} %>
    </main>

    <footer>
        <div id="footerContent">
            <details>
                <summary class="sectiontitle">Appears in</summary>
                <ul class="files">
                    <% klass.in_files.each do |file| %>
                    <li><%= link_to file %></li>
                    <% end %>
                </ul>
            </details>
        </div>
    </footer>
  </body>
</html>
