<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<%= @options.charset %>">
    <title><%= page_title file.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= include_template '_head.rhtml', {:context => file, :tree_keys => [] } %>

    <meta property="og:title" value="<%= og_title file.name %>">
</head>

<body>
    <a class="sr-only sr-only-focusable" href="#content" data-turbo="false">Skip to Content</a>
    <a class="sr-only sr-only-focusable" href="#search" data-turbo="false">Skip to Search</a>

    <%= include_template '_panel.rhtml' %>

    <div class="banner">
        <% if project_name %>
            <div>
                <%= project_name %>
                <span title="<%= project_git_head %>"><%= badge_version || project_version %></span>
            </div>
        <% end %>

        <h2>
            <%= h file.name %>
        </h2>
        <ul class="files">
            <li>
                <%= h file.relative_name %>
                <% if github = github_url(file.relative_name) %>
                    <a href="<%= github %>" target="_blank" class="github_url">on GitHub</a>
                <% end %>
            </li>
            <li>Last modified: <%= file.file_stat.mtime %></li>
        </ul>

        <% if badge_version %>
            <div id="version-badge"><%= badge_version %></div>
        <% end %>
    </div>

    <main id="bodyContent">
        <%= include_template '_context.rhtml', {:context => file} %>
    </main>
  </body>
</html>
