<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= h file.name %></title>
    <meta charset="<%= @options.charset %>" />
    <%= include_template '_head.rhtml', {:rel_prefix => rel_prefix} %>
</head>

<body>
    <div class="banner">
        <% if ENV['HORO_PROJECT_NAME'] %>
            <span><%= ERB::Util.html_escape(ENV['HORO_PROJECT_NAME']) %> <%= ERB::Util.html_escape(ENV['HORO_PROJECT_VERSION']) %></span><br />
        <% end %>
        <h1>
            <%= h file.name %>
        </h1>
        <ul class="files">
            <%
                github = github_url(file.relative_name) if options.github
            %>
            <li>
                <%= h file.relative_name %>
                <% if github %>
                    <a href="<%= github %>" target="_blank" class="github_url">on GitHub</a>
                <% end %>
            </li>
            <li>Last modified: <%= file.file_stat.mtime %></li>
        </ul>
    </div>

    <div id="bodyContent">
        <%= include_template '_context.rhtml', {:context => file, :rel_prefix => rel_prefix} %>
    </div>
  </body>
</html>
