<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<%= @options.charset %>">
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% inline "_head.rhtml" %>
</head>

<body>
    <a class="sr-only sr-only-focusable" href="#context" data-turbo="false">Skip to Content</a>
    <a class="sr-only sr-only-focusable" href="#search" data-turbo="false">Skip to Search</a>

    <% inline("_panel.rhtml") { inline("_index_nav.rhtml") } %>

    <main id="content" class="content">
        <% inline "_context.rhtml" %>
    </main>
  </body>
</html>
