<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Index</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
    <body>
    <% @files.each do |file| %>
      <a href="../<%= file.path %>"><%= file.relative_name %></a>
    <% end %>
    </body>
</html>
